version: '3.7'
services:
  gatsby:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    command: ./entrypoint.sh
    ports:
      - "8000:8000"
    volumes:
     - .:/app
     - ./node_modules:/app/node_modules
